

.justify {
    text-align: justify;
}

.rectangle {
    background-color: #dfdddd;
    height: 70px;
    width: 140px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e16645;

    font-weight: 700;
}

.title {
    color: #232f3f !important;
}