.card-product {
    background-color: #f7f7f7;
    width: 300px;
    height: 350px;
}

.card-product:hover {
    background-color: #e7e6e6;
}

.price {
    color: #e16645;
    font-weight: bold;
    align-items: flex-end;
    display: flex;
}