.tab-pagination {
    height: 50px;
    width: auto;
    padding: 10px 20px;
    background-color: #232f3f;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.tab-active {
    color: #e16645;
}

.tab-disabled {
    color: #808080;
}