.btn-input-search {
    background-color: #ff3c20 !important;
    color: white !important;
}

.btn-input-search:hover{
    background-color: #ff3c20 !important;
    color: white !important;
}

.select-size {
  width: 300px;
  margin-right: 10px;
}
.select-size select {
  border-radius: 2px;
}

.form-control {
  border-bottom-left-radius: 2px !important;
  border-top-left-radius: 2px !important;
}
.btn {
  border-bottom-right-radius: 2px !important;
  border-top-right-radius: 2px !important;
}

